<div class="overlay_checkout_page">
  <div class="checkout_box_grid-container">
    <span class="checkout_box_exit" onclick="checkoutPageClose()">&times;</span>
    <div class="checkout_box_title">
      <h3>Rainy days AS</h3>
    </div>
    <div class="checkout_box_main_2">
      <p>success</p>
      <p>Confirmation of order 116030304216</p>
      <p>It has been sent to your e-mail.</p>
      <p>Thank you for your order</p>
    </div>
    <div class="checkout_box_button_exit">
      <span class="checkout_button_exit" onclick="checkoutErrorPage()"
        >THE PERFECT RAIN JACKET!>></span
      >
    </div>
  </div>
</div>
