<div class="overlay_checkout_page">
  <div class="checkout_box_grid-container">
    <span class="checkout_box_exit" onclick="checkoutPageClose()">&times;</span>
    <div class="checkout_box_title">
      <h3>Rainy days AS</h3>
    </div>
    <div class="checkout_box_main_purchase">
      <p>Pushing Men’s rain jacket</p>
      <p>Free - Pickup Point | 666</p>
      <p>Dario De La Fuente, Valhallsgates 56 1609 Fredrikstad</p>
      <p>Pay later. Pay in 14 days</p>
      <p>Total incl. delivery & VAT</p>
      <div class="total-counter"></div>
      <div class="total"></div>
    </div>
    <div class="checkout_box_button">
      <span class="checkout_button" onclick="checkoutPageSuccess()">Complete your purchase</span>
    </div>
  </div>
</div>
