<div class="overlay_checkout_page">
  <div class="checkout_box_grid-container">
    <div class="checkout_box_exit" onclick="checkoutPageClose()">&times;</div>
    <div class="checkout_box_title">
      <h3>Rainy days AS</h3>
    </div>
    <!--<div id="checkoutPagePurchase"></div>-->
    <div class="checkout_box_main_1">
      <div class="checkout_product">
        <img src="../media/Jacket_1.png" alt="#" class="checkout_product_img" />
        <div class="checkout_product_info">
          <p>Pushing</p>
          <p>Men’s rain jacket</p>
        </div>
      </div>
    </div>
    <div class="checkout_box_main_2">
      <div class="checkout_product_info">
        <p>X 1</p>
      </div>
    </div>
    <div class="checkout_box_button">
      <span class="checkout_button" onclick="checkoutPagePurchase()"
        >Continue</span
      >
    </div>
  </div>
</div>
