<div class="container">
  <div class="grid">
    <div class="grid-cell--lg-4">
      <div class="sb-grid-container">
        <img src="/media/RainyDays_Logo.png" alt="RainyDays Logo" class="footer__logo" />
      </div>
    </div>
    <div class="grid-cell--lg-4">
      <div class="cb-grid-container">
        <div class="center__block-1">
          <ul>
            <li><h3 class="footer_h3">SERVICES</h3></li>
            <li><a href="#">Customer Service</a></li>
            <li><a href="#">Returns</a></li>
          </ul>
        </div>
        <div class="center__block-2">
          <ul>
            <li><h3 class="footer_h3">COMPANY</h3></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="grid-cell--lg-4">
      <div class="grid-container">
        <div class="footer__block-4">
          <ul>
            <li>
              <a class="bannerLinkBox-1 add_block" href="../error_page.html"
                >Click here to join norden`s largest sports chain >></a
              >
            </li>
          </ul>
        </div>
        <div class="footer__block-5">
          <a class="bannerLinkBox add_block" href="../contact.html">Contact</a>
        </div>
        <div class="footer__block-5-a">
          <a class="bannerLinkBox add_block" href="../about.html">About</a>
        </div>
        <div class="footer__block-6">
          <span class="footer_block-arrow">
            <i class="material-icons icon-image-preview">arrow_circle_up</i>
          </span>
          <a class="bannerLinkBox-4" href="#">Go to the top</a>
        </div>
      </div>
    </div>
  </div>
</div>
