<div class="Container">
    <div class="Grid Grid--spaceBetween"> 
      <div class="Grid-cell--xs-12 Grid-cell--md-12 Grid-cell--lg-4 Grid-cell--xl-4">
        <div class="Footer-Box-1">
          <img src="/media/RainyDays_Logo.png" alt="RainyDays_Logo" class="Footer-logo">
        </div>
      </div>
      <div class="Grid-cell--xs-12 Grid-cell--md-12 Grid-cell--lg-4 Grid-cell--xl-4">
        <div class="Footer-Box-2">
          <div class="cb-grid-container">
            <div class="CBox-1">
              <ul>
                <li><a href="#">An example of body text</a></li>
                <li><a href="#">An example of body text</a></li>
                <li><a href="#">An example of body text</a></li>
                <li><a href="#">An example of body text</a></li>
              </ul>
            </div>
            <div class="CBox-2">
              <ul>
                <li><a href="#">An example of body text</a></li>
                <li><a href="#">An example of body text</a></li>
                <li><a href="#">An example of body text</a></li>
                <li><a href="#">An example of body text</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="Grid-cell--xs-12 Grid-cell--md-12 Grid-cell--lg-4 Grid-cell--xl-4">
        <div class="Footer-Box-3">
          <div class="grid-container">
            <div class="FBox-4">
              <ul>
                <li><a class="bannerLinkBox" href="#">Click here to see our advertised items >></a></li>
              </ul>
            </div>
            <div class="FBox-5">
              <ul>
                <li><a class="bannerLinkBox" href="#">Click here to see our advertised items >></a></li>
              </ul>
            </div>
            <div class="FBox-6">
              <ul>
                <li><a class="bannerLinkBox" href="#">Click here to see our advertised items >></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>