<div class="Container">
    <div class="Grid Grid--spaceBetween"> 
      <div class="Grid-cell--xs-12 Grid-cell--md-12 Grid-cell--lg-4 Grid-cell--xl-4">
        <div class="Footer-Box-1">
          <div class="sb-grid-container">
            <div class="SBox-1">
              <img src="/media/RainyDays_Logo.png" alt="RainyDays_Logo" class="Footer-logo">
            </div>
          </div>
        </div>
      </div>
      <div class="Grid-cell--xs-12 Grid-cell--md-12 Grid-cell--lg-4 Grid-cell--xl-4">
        <div class="Footer-Box-2">
          <div class="cb-grid-container">
            <div class="CBox-1">
              <ul>
                <li><a href="#">An example of body text</a></li>
                <li><a href="#">An example of body text</a></li>
                <li><a href="#">An example of body text</a></li>
                <li><a href="#">An example of body text</a></li>
                <li><a href="#">An example of body text</a></li>
              </ul>
            </div>
            <div class="CBox-2">
              <ul>
                <li><a href="#">An example of body text</a></li>
                <li><a href="#">An example of body text</a></li>
                <li><a href="#">An example of body text</a></li>
                <li><a href="#">An example of body text</a></li>
                <li><a href="#">An example of body text</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="Grid-cell--xs-12 Grid-cell--md-12 Grid-cell--lg-4 Grid-cell--xl-4">
        <div class="Footer-Box-3">
          <div class="grid-container">
            <div class="FBox-4">
              <ul>
                <li><a class="bannerLinkBox-1" href="#">Click here to join norden`s largest sports chain >></a></li>
              </ul>
            </div>
            <div class="FBox-5">
              <ul>
                <li><a class="bannerLinkBox" href="#">Contact</a></li>
              </ul>
            </div>
            <div class="FBox-5-a">
              <ul>
                <li><a class="bannerLinkBox" href="#">About</a></li>
              </ul>
            </div>
            <div class="FBox-6">
              <span class="FB-arrow"><i class="material-icons icon-image-preview">arrow_circle_up</i></span>
              <ul>
                <li><a class="bannerLinkBox-4" href="#">Go to the top</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>