    <div class="Container">
      <div class="Grid Grid--spaceBetween">
        <div class="Grid-cell--xs-4 Grid-cell--md-4 Grid-cell--lg-4 Grid-cell--xl-2">
          <div class="Box-1">
            <a href="/index.html">
              <img src="../media/RainyDays_Logo.png" alt="RainyDays_Logo" class="logo">
            </a>
          </div>
        </div>
        <div class="Grid-cell--xs-4 Grid-cell--md-4 Grid-cell--lg-4 Grid-cell--xl-2">
          <div class="Box-2">
            <div class="search-icon">
              <i class="material-icons">search</i>
            </div>
            <div class="searchBar">
              <label for="searchForProducts"></label> 
              <input type="text" placeholder="Search for products">
            </div>
          </div>
        </div>
        <div class="Grid-cell--xs-4 Grid-cell--md-4 Grid-cell--lg-4 Grid-cell--xl-2">
          <div class="Box-3">
            <i class="material-icons shopping_cart" >shopping_cart</i>
          </div>
        </div>
      </div>
    </div>
 