<h1 class="hidden">RainyDays</h1>
<div class="container">
  <div class="grid">
    <div class="grid-cell--xs-4">
      <div class="box-1">
        <a href="/index.html">
          <img
            src="../media/RainyDays_Logo.png"
            alt="RainyDays Logo"
            class="logo"
          />
        </a>
      </div>
    </div>
    <div class="grid-cell--xs-4">
      <div class="box-2">
        <div class="search__icon">
          <i class="material-icons">search</i>
        </div>
        <div class="searchBar">
          <label for="searchForProducts">
            <input type="text" placeholder="Search for products" />
          </label>
        </div>
      </div>
    </div>
    <div class="grid-cell--xs-4">
      <div class="box-3">
        <i class="material-icons shopping__cart">shopping_cart</i>
      </div>
    </div>
  </div>
</div>
