<div id="sideNav" class="mdSideNav">
  <ul>
    <li>
      <a
        href="javascript:void(0)"
        class="sideNavCloseButton"
        onclick="closeSideNav()"
        onkeyup="closeSideNav()"
        >&times;</a
      >
    </li>
    <li>
      <!--<a href="/index.html"><i class="material-icons">home</i></a>-->
      <a href="/index.html">Home</a>
    </li>
    <li><a href="/products/jackets.html">Jackets</a></li>
    <li><a href="/contact.html">Contact</a></li>
    <li><a href="/about.html">About</a></li>
  </ul>
</div>
<span class="openNav" onclick="openSideNav()" onkeyup="openSideNav()">&#9776;</span>
