.block__product__container {
  @media #{$screen__m} {
    align-items: center;
    width: 100%;
  }
  @media #{$screen__l} {
    align-items: center;
    width: 100%;
  }
  @media #{$screen__xl} {
    align-items: center;
    width: 100%;
  }
}

.block__product__horizontal__scroll {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  img {
    margin: 5px;
    height: 50vh;
    //width: 100vh;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
