.block__product__container {
  align-items: center;
  width: 100%;
}

.block__product__horizontal__scroll {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  img {
    margin: 5px;
    height: 50vh;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
