.overlay_checkout_page {
  position: fixed;
  background: rgba(241, 241, 241, 0.7);
  width: 100vw;
  height: 200vh;
  top: 0;
  left: 0;
  z-index: 9999999999;
}

.checkout_box_grid-container {
  display: grid;
  position: absolute;
  top: 25%;
  left: 50%;
  background: #fff;
  transform: translate(-50%, -50%) scale(1);
  width: 95%;
  height: auto;
  border: solid 0.5px;
  padding: 20px;
  color: #000;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "checkout_box_exit checkout_box_exit"
    "checkout_box_title checkout_box_title"
    "checkout_box_main_1 checkout_box_main_2"
    "checkout_box_button checkout_box_button";

  @media #{$screen__l} {
    width: 450px;
  }
}

.checkout_box_exit,
.checkout_box_title,
.checkout_box_main_1,
.checkout_box_main_purchase,
.checkout_button,
.checkout_product,
.checkout_product_img {
  display: flex;
}

.checkout_box_exit {
  grid-area: checkout_box_exit;
  cursor: pointer;
  justify-content: flex-end;
}

.checkout_box_title {
  grid-area: checkout_box_title;
  justify-content: center;

  padding-bottom: 15px;
}

.checkout_box_main_1,
.checkout_box_main_purchase {
  grid-area: checkout_box_main_1;

  padding-left: 5px;
}

.checkout_box_main_purchase {
  flex-direction: column;
}
.checkout_box_button_exit,
.checkout_box_button {
  grid-area: checkout_box_button;
}

.checkout_box_button {
  padding: 2rem 0rem 2rem 0rem;
}

.checkout_box_button_exit {
  padding: 3rem 0 2rem 5rem;
}

.checkout_button,
.checkout_button_exit {
  padding: 15px;
}
.checkout_button {
  justify-content: center;
  margin: auto;
  width: 300px;
  height: 50px;
}

.checkout_button {
  background-color: #025951;
  color: #fff;
  cursor: pointer;
}

.checkout_button_exit {
  background-color: #fff;
  color: #025951;
  border: solid 2px #025951;
  cursor: pointer;
}

.checkout_product,
.checkout_product_img {
  width: 100px;
}
.checkout_product_img {
  border: solid 0.5px #000;
}
.checkout_product_info {
  padding: 5px;
}
