.form,
.checkbox-container,
.form-box-1,
.form-box-2,
.form-button {
  display: flex;
}

.form-box-2,
.box-container:hover input ~ .checkmark,
.checkmark {
  background-color: #fff;
}

.form-button button,
.box-container,
.box-container input {
  cursor: pointer;
}

.checkmark,
.box-container input,
.checkmark:after {
  position: absolute;
}

.form,
.checkbox-container,
.form-button {
  justify-content: center;
}
.form--column,
.form-box-1,
.form-box-2 {
  flex-direction: column;
}

.form {
  flex-wrap: wrap;
  &--column {
    padding: $padding--s;
  }
}

.checkbox-container {
  width: 100%;
  margin-top: 25px;
}

.form-box-1 {
  color: #fff;
  background-color: #000;
}

.form-box-2 {
  color: #000;
}

.form-button {
  width: 100%;
  padding: $padding--l;
  margin-top: 25px;
}

.email-input,
.form-name {
  margin: 5px;
  width: 55%;
  text-align: start;
  border: solid 1px #000;
  border-radius: 5px;
  padding: $padding--xs;
}

.form-name {
  margin-top: 25px;
}

.form p {
  font-size: $font--lx;
  font: bold;
}

.form-button button {
  color: #fff;
  background-color: #025951;
  border: solid 1px #707070;
  border-radius: 50px;
  height: 50px;
  width: 300px;
  font-size: $font--l;
}

.box-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  user-select: none;
}
.box-container input {
  opacity: 0;
  height: 0;
  width: 0;
}

.box-container input:checked ~ .checkmark {
  background-color: #025951;
}

.checkmark {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: solid 1px #000;
  border-radius: 25px;
}
.checkmark:after {
  content: "";
  display: none;
}
.box-container input:checked ~ .checkmark:after {
  display: block;
}
.box-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
