$Container: 1000px;
$padding--l: 30px;
$padding--s: 15px;
$padding--xs: 5px;

$font--s:15px;
$font--m:23px;
$font--l:25px;
$font--lx:37px;


/* Reset av broser adding */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}
  
h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
}

img {
  width: 100%;
  height: auto;
}

div p {
  margin: 10px 5px;
}

.material-icons {
  font-size: 20px !important;
}

.Content {
  max-width:$Container;
  margin: auto;
  padding-top: 5px;
  overflow: hidden;
}

.Box {
  display: flex;
  padding: $padding--l;
  position: relative;
  &--center {
    justify-content: center;
  }
  &--left {
    justify-content: flex-start;
  }
  &--right {
    justify-content: flex-end;
  }
}


.Box-1 {
  text-align: start;
  display: flex;
}

.Box-2 {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  margin-left: 35px;
  @media #{$screen__l} 
    { margin-top: 20px;
        margin-left: 0;
    }
  }

.Box-3 {
  text-align: end;
  margin-top: 20px;
}

.Box--banner--center {
  height: 250px;
}
  

.prod-card {
  bottom: 30px;
  z-index: 4;
  position: absolute;
  width: calc(100% - (#{$padding--l} * 2));
  background-color: #fff;
}

.prod-img {
  box-shadow: 12px 13px 13px -10px #000, -20px 26px 4px 12px transparent;
}

.about-content-box {
  margin: 0;
  padding: 50px 15px 70px 15px;
  max-width: 100%;
  color: #000;
  text-align: center;
  font-size:$font--m;
    @media #{$screen__l} 
      { max-width: 50%;}
}

.content-box {
  display: flex;
  justify-content: center;
}

.About-box {
  background:linear-gradient(0deg, rgba(241, 241, 241, 1), rgba(241, 241, 241, 0.47)), url('/media/Banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}