.Footer {
    //display: none;
    //@media #{$screen__xs} 
    //{display: none;}
    //@media #{$screen__m} 
    //{display: none;}
    //@media #{$screen__l} 
    //{
    display: flex;
    flex-direction: row;
    background-color:#025951;
    //}  
}

.grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    //grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "FBox-4 FBox-4 FBox-4 FBox-4"
      "FBox-5 FBox-5-a FBox-6 FBox-6";
  }
  .FBox-4 { 
      grid-area: FBox-4;
      place-self: center;
      a {
        color: #fff;
        font-size: 14px;
        border: solid 1px;
        padding: 5px;
        display: block;
    }
     }
  .FBox-5 { 
      grid-area: FBox-5;
      place-self: center;
      padding-top: 65px;
      a {
        color: #fff;
        border: solid 1px;
        padding: 5px;
    }
     }
  .FBox-5-a { 
      grid-area: FBox-5-a;
      place-self: center;
      padding-top: 65px;
      a {
        color: #fff;
        border: solid 1px;
        padding: 5px;
    }
     }
  .FBox-6 { 
      grid-area: FBox-6;
      place-self: center;
      padding-top: 39px;
      a {
        color: #fff;
    }
     }

  .cb-grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    //grid-template-columns: 1fr;//1fr
    //grid-template-rows: 1fr 1fr ; //1fr
    gap: 5px 5px;
    //justify-self: center;
    //grid-template-areas:
      //"CBox-1 CBox-2";  
      //"CBox-1 CBox-2";
      @media #{$screen__l} 
    {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr ; //1fr
    }
    li {
        padding-top:5px;
    }
  }
  
  .CBox-1 { 
      //grid-area: CBox-1;
      place-self: center;
      a {
        color: #fff;
        padding-top: 5px;
      }
    }
    
  
  .CBox-2 { 
      //grid-area: CBox-2; 
      place-self: center;
      a {
        color: #fff;
        padding: 5px;
      }
    }
  
  
  .sb-grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    //grid-template-columns: 1fr;
    //grid-template-rows: 1fr;
    //gap: 0px 0px;
    grid-template-areas:
      "SBox-1";
  }
  
  .SBox-1 { grid-area: SBox-1; }
  


.Footer-logo {
    display: flex;
    background-color: #fff;
    padding: 50px;
    margin: 10px;
    width: 90%;
       @media (max-width: 600px) {
            width: 95%;
        }
}

.Footer-Box-1 {
    display: flex;
    margin: 10px;
}
.Footer-Box-2 {
    display: flex;
    padding-top: 50px;
    font-size: 10px;
    li {
        padding-top: 10px;
    }
    a {
        color:#fff;
    }
    //@media #{$screen__l} 
    //{
    //    font-size: 15px;
    //    padding: 90px 0px 0px 0px;
    //}
}

.Footer-Box-3 {
    display: flex;
    padding-top: 40px;
    font-size: 10px;
    a {
        color:#fff;
        border: solid 1px #fff;
        padding: 10px;
    }
    //@media #{$screen__l} 
    //{
    //    font-size: 15px;
    //    padding: 100px 50px 5px 50px;
    //}
}


.FBox-1 {
    display: flex;
    margin: 10px;
    width: 50%;
    li {
        margin: 20px;
    }
    a {
        margin: 10px;
    }
}
.FBox-2 {
    display: flex;
    margin: 10px;
    width: 50%;
    li {
        margin: 20px;
    }
    a {
        margin-top: 10px;
    }
}


.bannerLinkBox-1 {
    text-transform: uppercase;
}

a.bannerLinkBox-4 {
    border: none;
    font-weight: bold;
}
.FB-arrow .material-icons {
    color: #fff;
    @media #{$screen__l} 
    {
        font-size: 30px !important;
    }
}


