.Footer {
    display: flex;
    flex-direction: row;
    background-color:#025951;
    color:#fff;
    width: auto;
    height: auto;
}

.Footer-logo {
    display: flex;
    background-color: #fff;
    width: 80%;
    height: auto;
    padding: 20px;
        @media (max-width: 600px) {
            width: 100%;
        }
}

.Footer-Box-1 {
    display: flex;
    padding: 5px;

}
.Footer-Box-2 {
    display: flex;
    padding: 10px 5px 5px 5px;
    font-size: 10px;
     a {
         color:#fff;
     }
     @media #{$screen__l} 
            {font-size: 15px;}
}

.Footer-Box-3 {
    display: flex;
    padding: 5px;

}


.FBox-1 {
    display: flex;
    width: 300px;
}
.FBox-3 {
    display: flex;
    width: 300px;
}
.FBox-4 {
    display: flex;
    width: 300px;
}