.grid-container {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "FBox-4 FBox-4"
      "FBox-5 FBox-6";
  }
  .FBox-4 { grid-area: FBox-4; }
  .FBox-5 { grid-area: FBox-5; }
  .FBox-6 { grid-area: FBox-6; }

  .cb-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "CBox-1 CBox-2"
      "CBox-1 CBox-2";
  }
  
  .CBox-1 { grid-area: CBox-1; }
  
  .CBox-2 { grid-area: CBox-2; }
  




.Footer {
    display: flex;
    flex-direction: row;
    background-color:#025951;
    color:#fff;
    //width: auto;
    //height: auto;
}

.Footer-logo {
    display: flex;
    background-color: #fff;
    width: 70%;
    //height: auto;
    padding: 25px;
        @media (max-width: 600px) {
            width: 70%;
        }
}

.Footer-Box-1 {
    display: flex;
    //padding: 10px;
    margin: 10px;
    justify-content: center;
    background-color: #fff;
}
.Footer-Box-2 {
    display: flex;
    margin: 35px;
    padding: 50px 5px 5px 5px;
    font-size: 10px;
     a {
         color:#fff;
         padding: 10px 5px 5px 5px;
     }
     @media #{$screen__l} 
           {font-size: 15px;}
}

.Footer-Box-3 {
    display: flex;
    padding: 5px;

}


.FBox-1 {
    display: flex;
    margin: 10px;
    width: 50%;
    li {
        margin: 20px;
    }
    a {
        margin: 10px;
    }
}
.FBox-2 {
    display: flex;
    margin: 10px;
    width: 50%;
    li {
        margin: 20px;
    }
    a {
        margin-top: 10px;
    }
}
.FBox-4 {
    display: flex;
    
}

.FBox-4 {
    display: flex;
    
}

.FBox-4 {
    display: flex;
    
}

.FBox-4 {
    display: flex;
    
}
.FBox-4 {
    display: flex;
    
}


