.search__icon,
.searchBar {
  display: flex;
  border: solid #f1f1f1;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    -20px 34px 18px 1px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, -20px 34px 18px 1px rgba(0, 0, 0, 0);
}

/* Style the header */
.header {
  margin: 10px;
  height: 65px;
}

.img__block__baner {
  text-align: center;
  padding-top: 6px;
}

.img__block__baner__jackets {
  text-align: center;
  padding-top: 25px;
  padding-left: 15px;
  @media #{$screen__l} {
    padding-left: 670px;
    padding-top: 50px;
  }
}

.img__baner {
  width: 150px;
  height: 80px;
}

.bannerLink {
  display: none;
  @media #{$screen__l} {
    text-align: center;
    padding-top: 25px;
    display: block;
  }
}

.bannerLink a {
  background-color: #fff;
  padding: 15px;
}

a.bannerLinkBlock {
  color: #000;
  font-weight: bolder;
  font-size: 15px;
  @media #{$screen__l} {
    font-size: 15px;
  }
}

.search__icon {
  justify-content: flex-end;
  border-radius: 10px 0px 0px 10px;
  width: 30px;
  padding: 1px;
}

.searchBar {
  border-radius: 0px 10px 10px 0px;
  text-align: center;
  width: 200px;
}

.shopping__cart {
  color: #fff;
  background-color: #025951;
  padding: 6px;
  border-radius: 12px;
  width: 31px;
}
.block__baner,
.logoBaner,
.logoBanerProducts {
  width: 100%;
}

.block__baner {
  height: 85px;
  @media #{$screen__l} {
    height: 200px;
  }
}

.logoBaner,
.logoBanerProducts {
  height: 200px;
}

.logoBaner {
  @media #{$screen__l} {
    background-image: url("/media/Banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.logoBanerProducts {
  background-image: url("/../media/Jackets_baner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  width: 280px;
  @media #{$screen__l} {
    width: 125px;
    padding: 10px;
  }
}
