/* Style the Navbar 4 Mobail*/
.header {
  display: none;
}

.mdSideNav.openSideNav {
  width: 100%;
}

.mdSideNav.closeSideNav {
  width: 0;
}

.openNav {
  font-size: 30px;
  cursor: pointer;
}

.mdSideNav {
  justify-content: inherit;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 250px;
}

.mdSideNav a {
  display: grid;
  justify-items: end;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  background-color: #025951;
  transition: width 0.3s;
  margin: 10px;
}

.mdSideNav a:hover {
  color: #f1f1f1;
}

.mdSideNav .sideNavCloseButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #000000;
  background-color: #ffffff;
}
.topnav,
.mdSideNav {
  display: flex;
}
.topnav {
  justify-content: flex-end;
  margin: 10px;
}

@media #{$screen__l} {
  /* Style the Navbar 4 desktop*/
  .topnav,
  .topnav ul,
  .topnav li {
    display: flex;
  }

  .topnav {
    background-color: #025951;
    justify-content: center;
    margin: 0;
    a {
      color: #fff;
      padding: 5px;
      margin: 0 10px;
      text-decoration: none;
      font-size: 15px;
      &:hover {
        color: black;
      }
      &.active {
        color: white;
      }
    }
  }

  .header {
    display: block;
  }

  .mdSideNav {
    background-color: transparent;
    position: relative;
    width: auto;
    padding-top: 0;
  }
  .mdSideNav .sideNavCloseButton,
  span.openNav,
  .closemdSideNav {
    display: none;
  }
}
