.prod-box {
    z-index: 4;
    display: flex;
    justify-content: center;
}

.prod-label {
    display: flex;
    z-index: 4;
    margin-top: 25px;
    margin-right: 130px;
    position: absolute;
    width: calc(55% - (20px * 1));
    background-color: #8C8303;
    text-transform: uppercase;
    @media #{$screen__l} 
            {margin-left: 21.5px;}
}

a.prod-label {
    color: #fff; 
    font-size: 15px;
    justify-content: center;
    height: 39px;
    font-weight: bold;
    @media #{$screen__l} 
        {height: 35px;}
}

.i {
    display: flex;
    filter: brightness(80%);
    position: absolute;
    bottom: 293px;
    right: -23px;
    border: 26px solid #0000;
    border-left-color: #7C7401;
    box-shadow: inset 0 0 10px #000;
    width: 30px;
    height: 30px;
        @media #{$screen__l} 
            {bottom: 250px;}
}


a.prod-card {
    color: #000;
  }
