.product__label,
.block__product,
.block__product_2 {
  display: flex;
  z-index: 4;
}

.product__card__label__block__link__1,
.product__card__label__block__link__2,
.product__card__label__block__link__3,
.product__card__label__block__link__4,
.product__card__label,
.labelTale,
.labelTale_2,
.product__label,
.product__label_2 {
  position: absolute;
}

.product__card__label__block__link__1,
.product__card__label__block__link__2,
.product__card__label__block__link__3,
.product__card__label__block__link__4 {
  z-index: 4;

  background-color: #0000;
  border: solid 1px #000;
}

a,
.product__card__label__block__link__1,
.product__card__label__block__link__2,
.product__card__label__block__link__3,
.product__card__label__block__link__4 {
  color: #000;
  font-size: 15px;
  font-weight: bold;
}

a.product__card__label__block__link__4 {
  font-size: 25px;
}

.block__product,
.block__product_2 {
  justify-content: center;
  a {
    color: #fff;
    font-size: 15px;
    justify-content: center;
    height: 39px;
    font-weight: bold;
    @media #{$screen__m} {
      height: 35px;
      font-size: 12px;
    }
    @media #{$screen__l} {
      height: 35px;
    }
  }
}

.product__label,
.product__label_2 {
  top: 3.1rem;
  right: 0.5rem;

  width: calc(55% - (20px * 1));
  background-color: #8c8303;
  text-transform: uppercase;
}

.labelTale,
.labelTale_2 {
  display: flex;
  filter: brightness(80%);
  top: 4.4rem;
  right: -11px;
  border: 20px solid #0000;
  border-left-color: #7c7401;
  box-shadow: inset 0 0 10px #000;
  width: 30px;
  height: 30px;
  @media #{$screen__m} {
    top: 4rem;
  }
}

.product__label_2 {
  top: 9.1rem;
  right: 0rem;
  @media #{$screen__l} {
    top: 3.1rem;
    right: -1.5rem;
  }
}

.labelTale_2 {
  display: none;
  @media #{$screen__l} {
    display: block;
    right: -41px;
    top: 4rem;
  }
}

// prodockt label "Price info"

h4 {
  grid-area: h4;
}
h3 {
  grid-area: h3;
}
p {
  grid-area: p;
}

.block__product__label {
  display: grid;
  grid-gap: 0.5rem;
  padding: 5px;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "h3 p"
    "h4 p";
}
.block__product__label p,
.block__product__label h3,
.block__product__label h4 {
  font-weight: bold;
}
.block__product__label p {
  font-size: 25px;
}
.block__product__label h3 {
  font-size: 19px;
  @media #{$screen__l} {
    font-size: 25px;
  }
}
.block__product__label h4 {
  font-size: 12px;
  @media #{$screen__l} {
    font-size: 15px;
  }
}

.block__product__card__label {
  display: flex;
  justify-content: flex-end;
}

.product__card__label {
  bottom: 30px;
  z-index: 4;
  width: calc(100% - (#{$padding--l} * 2));
  background-color: #fff;
}

a.product__card__label {
  color: #000;
}

.product__card__label__block__link__1,
.product__card__label__block__link__2,
.product__card__label__block__link__3 {
  top: 50px;
  right: 155px;
  padding: 10px;
  @media #{$screen__m} {
    top: 50px;
    right: 60px;
  }
  @media #{$screen__l} {
    top: 45px;
    right: 152px;
  }
}

.product__card__label__block__link__3 {
  @media #{$screen__l} {
    right: 155px;
  }
}
.product__card__label__block__link__4 {
  top: 90px;
  right: 70px;
  padding: 20px;
  @media #{$screen__m} {
    top: 90px;
    right: 40px;
  }
  @media #{$screen__l} {
    right: 60px;
  }
}
